<div class="container">
  <div class="row">
    <div class="col-12 col-md-12">
      <h1 id="hoge">トップページ</h1>

      <script>
        $("#hoge").css("color","red")
      </script>

      <ul>
        <li><a href="https://github.com/kyuuki/sns" target="_blank">ソースコード (GitHub)</a></li>
        <li><a href="http://localhost:3000/" target="_blank">開発環境 (ローカル)</a></li>
        <li><a href="https://kyuuki-sns.herokuapp.com/" target="_blank">本番環境 (Heroku)</a></li>
      </ul>
    </div>
  </div>
</div>
